
.annotationModalClose {
    position: absolute;
    top: 0;
    margin: 15px;
    margin-left: 20px;
    font-size: 1rem;
    color: #494b50;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: transform 1s;
}

.annotationModalClose:hover {
    animation: spin 0.6s;
}

.annotationModalClose:not(:hover) {
    animation: spinReverse 0.6s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.annotationModalTitle {
    position: absolute;
    display: flex;
    justify-content: center;    
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    min-width: fit-content;
    width: 100%;
}

.annotationModal {
    position: absolute;
    background-color: #fbfbfb;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 480px;
    height: 640px;
    top: 120px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0 0 20px;
    transition: right 0.5s ease-in-out;
}

.annotationWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 70px;
    height: 88%;
    width: 92%;
}

.annotationInnerWrapper {
    height: 90%;
    overflow-y: auto;
}

.singleAnnotationWrapper {
    margin-left: 10px;
}

.annotationModalText {
    line-height: 1rem;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.annotationModalTextInner {
    line-height: 0.3rem;
}

.annotationModalText img {
    margin-top: 15px;
    max-width: 400px;
}

.annotationModalAuthorWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #494b50;
    margin-top: auto;
}

.annotationModalAuthorLink {
    margin-left: 5px;
}

.annotationModalVotesWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    margin-bottom: 10px;
}

.annotationModalVotesWrapper img:hover {
    cursor: pointer;
}

.annotationVoteBackground {
    position: absolute;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.0);
    width: 30px;
    height: 30px;
    transform: translate(-6px, -6px);
    border-radius: 30px;
    padding: 2px;
    margin-bottom: 10px;
    pointer-events: none;
}

.annotationModalVotesWrapper img:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.annotationModalVotes {
    margin-left: 8px;
    margin-right: 25px;
}

.annotationPopup {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.annotationModalButtons {
    position: absolute;
    bottom: 3%;
    left: 1%;
}

.annotationModalText {
    height: 495px;
    overflow-y: scroll;
    width: 100%;
}

.annotationTextarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    width: 95%;
    margin-top: 10px;
}

/* styles for annotation modify buttons */
.annotationChangeWrapper {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.annotationEditButton {
    user-select: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.annotationEditButton:hover {
    color: #5c8ecc;
}

@media screen and (max-height: 650px) {
    .singleAnnotationWrapper {
        margin-left: 2px;
    }

    .annotationModal {
        margin-top: -20px;
        width: 80vw;
        height: 550px;
        padding-bottom: 25px;
    }

    .annotationTextarea {
        margin-top: 0px;
    }
}

@media screen and (max-width: 540px) {
    .annotationModal {
        top: 80px;
    }
}

@media screen and (max-width: 480px) {
    .annotationModal {
        width: 100vw;
    }

    .singleAnnotationWrapper {
        margin-left: 0px;
    }

    .annotationModalClose {
        margin-top: 5px;
        margin-left: 5px;
        padding: 20px;
        font-weight: bold;
    }

}