html, body {
    overflow-x: hidden;
    min-height: 100dvh; min-width: 100vw;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: #77bcc9;
    transition: color 0.2s ease-in-out;
}

a:visited {
    text-decoration: none;
    color: #77bcc9;
}

a:hover {
    text-decoration: none;
    color: #5c8ecc;
}

a:active {
    text-decoration: none;
}