@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.pageWrapper {
    content: '';
    width: 100%;
    height: 100%;
}

.mainWrapper {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.annotationModalClose {
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    margin-left: 20px;
    font-size: 1rem;
    color: #494b50;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: transform 1s;
}

.annotationModalClose:hover {
    animation: spin 0.6s;
}

.annotationModalClose:not(:hover) {
    animation: spinReverse 0.6s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.annotationModalTitle {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

.annotationModal {
    position: absolute;
    background-color: #fbfbfb;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 30rem;
    height: 40rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0 0 20px;
    transition: right 0.5s ease-in-out;
}

.annotationModalHidden {
    right: -30rem;
}

.annotationWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 70px;
    height: 88%;
    width: 92%;
}

.annotationInnerWrapper {
    height: 90%;
    overflow-y: auto;
}

.singleAnnotationWrapper {
    margin-left: 10px;
}

.annotationModalText {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.annotationModalAuthorWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #494b50;
    margin-top: auto;
}

.annotationModalAuthorLink {
    margin-left: 5px;
}

.annotationModalVotesWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    margin-bottom: 10px;
}

.annotationModalVotesWrapper img:hover {
    cursor: pointer;
}

.annotationVoteBackground {
    position: absolute;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.0);
    width: 30px;
    height: 30px;
    transform: translate(-6px, -6px);
    border-radius: 30px;
    padding: 2px;
    margin-bottom: 10px;
    pointer-events: none;
}

.annotationModalVotesWrapper img:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.annotationModalVotes {
    margin-left: 8px;
    margin-right: 25px;
}

.correctionWrapper {
    position: absolute;
    bottom: 2%;
}

.correctionText {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width: fit-content;
    color: #38646d;
    user-select: none;
    
    transition: color 0.2s ease-in-out;
    margin-left: 3px;
}

.correctionText:hover {
    color: #5c8ecc;
}

.navWrapper {
    position: absolute;
    width: 750px;
    height: 50px;
    content: '';
    background-color: #0A2342;
    border-radius: 10px 10px 0 0;
}

.navItemWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
}

.navItem,
.sideTitle {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.navItem {
    user-select: none;
    cursor: pointer;
}


.navItem:hover {
    color: #a8b1be;
}

.activeNavItemA1, .activeNavItemA1:hover {
    color: #54de8e;
    cursor: default;
}

.activeNavItemA2, .activeNavItemA2:hover {
    color: #29ccb6;
    cursor: default;
}

.activeNavItemB1, .activeNavItemB1:hover {
    color: #f5a640;
    cursor: default;
}

.activeNavItemB2, .activeNavItemB2:hover {
    color: #ff776b;
    cursor: default;
}

.activeNavItemC1, .activeNavItemC1:hover {
    color: #f25289;
    cursor: default;
}

.activeNavItemC2, .activeNavItemC2:hover {
    color: #7ea5d6;
    cursor: default;
}

.sideTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.textWrapper {
    position: relative;
    width: 750px;
    height: 650px;
    content: '';
    border-style: none solid solid none;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 0;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
}

.sideWrapper {
    content: '';
    position: relative;
    background-color: #f2f2f2;
    border-style: none none solid solid;
    width: 400px;
    height: 600px;
    margin-top: 50px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-radius: 10px 0 0 10px;
}

.sideTitleWrapper {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #0A2342;
    border-radius: 10px 0px 0 0;
}

.textList {
    width: 100%;
    height: 91%;
    overflow-y: scroll;
    position: absolute;
    margin: auto;
    bottom: 0;
}

.loadingText {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-left: 20px;
}

.annotationPopup {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.annotateButton,
.submitButton {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 2px 10px 2px 10px;
    border-width: 1px;
    border-color: #0A2342;
}

.submitButton:hover,
.annotateButton:hover {
    background-color: #0A2342;
    color: white;
}

.annotationTextarea {
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    margin-top: 10px;
}

.textItemWrapper {
    margin-top: 20px;
}

.textItem {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #fbfbfb;
    border-radius: 10px;
    user-select: none;
}

.textItem:hover {
    background-color: #e8ebf5;
    cursor: pointer;
}

.selectedTextItem {
    background-color: #e8ebf5;
}

.textItem:active {
    background-color: #c6cbd7;
}

.toolbarWrapper {
    position: absolute;
    width: 90%;
    height: 50px;
    background-color: #fbfbfb;
    margin-top: 75px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
}

.languageChangeWrapper {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.languageChangeBox {
    padding: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.levelSeparator {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: fit-content;
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.textContentWrapper {
    position: absolute;
    margin-top: 150px;
    height: 75%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

.textContentItem {
    display: inline;
}

.annotatedText {
    z-index: 5;
    display: inline;
    background-color: #a7ced6;
    width: fit-content;
    padding: 1px 0px 2px 0px;
    transition: background-color 0.2s;
}

.annotatedText:hover {
    background-color: #7ea5d6;
    cursor: pointer;
}

.textContent {
    display: inline;
    margin-top: -25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 1560px) {
    .mainWrapper {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1360px) {
    .mainWrapper {
        margin-right: 0px;
    }
}