@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.pageWrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.mainWrapper {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

.annotationModalClose {
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
    margin-left: 20px;
    font-size: 1rem;
    color: #494b50;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: transform 1s;
}

.annotationModalClose:hover {
    animation: spin 0.6s;
}

.annotationModalClose:not(:hover) {
    animation: spinReverse 0.6s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spinReverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.annotationModalTitle {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}

.annotationModal {
    position: absolute;
    background-color: #fbfbfb;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 480px;
    height: 640px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0 0 20px;
    transition: right 0.5s ease-in-out;
}

.annotationWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 70px;
    height: 88%;
    width: 92%;
}

.annotationInnerWrapper {
    height: 90%;
    overflow-y: auto;
}

.singleAnnotationWrapper {
    margin-left: 10px;
}

.annotationModalText {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.annotationModalText img {
    margin-top: 15px;
    max-width: 400px;
}

.annotationModalAuthorWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #494b50;
    margin-top: auto;
}

.annotationModalAuthorLink {
    margin-left: 5px;
}

.annotationModalVotesWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    margin-bottom: 10px;
}

.annotationModalVotesWrapper img:hover {
    cursor: pointer;
}

.annotationVoteBackground {
    position: absolute;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.0);
    width: 30px;
    height: 30px;
    transform: translate(-6px, -6px);
    border-radius: 30px;
    padding: 2px;
    margin-bottom: 10px;
    pointer-events: none;
}

.annotationModalVotesWrapper img:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.annotationModalVotes {
    margin-left: 8px;
    margin-right: 25px;
}

.correctionWrapper {
    position: absolute;
    bottom: 2%;
}

.correctionText {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width: fit-content;
    color: #38646d;
    user-select: none;

    transition: color 0.2s ease-in-out;
    margin-left: 3px;
}

.correctionText:hover {
    color: #5c8ecc;
}

.navWrapper {
    position: absolute;
    width: 100%;
    height: 50px;
    content: '';
    background-color: #0A2342;
    border-radius: 10px 10px 0 0;
}

.navItemWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
}

.navItem,
.sideTitle {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.navItem {
    user-select: none;
    cursor: pointer;
}

.navItem:hover {
    color: #a8b1be;
}

.activeNavItemA1,
.activeNavItemA1:hover {
    color: #54de8e;
    cursor: default;
}

.activeNavItemA2,
.activeNavItemA2:hover {
    color: #29ccb6;
    cursor: default;
}

.activeNavItemB1,
.activeNavItemB1:hover {
    color: #f5a640;
    cursor: default;
}

.activeNavItemB2,
.activeNavItemB2:hover {
    color: #ff776b;
    cursor: default;
}

.activeNavItemC1,
.activeNavItemC1:hover {
    color: #f25289;
    cursor: default;
}

.activeNavItemC2,
.activeNavItemC2:hover {
    color: #7ea5d6;
    cursor: default;
}

.sideTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.textWrapper {
    position: relative;
    width: 750px;
    height: 650px;
    content: '';
    border-style: none solid solid none;
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 0;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
}

.sideWrapper {
    content: '';
    position: relative;
    background-color: #f2f2f2;
    border-style: none none solid solid;
    width: 400px;
    height: 600px;
    margin-top: 50px;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-radius: 10px 0 0 10px;
}

.sideTitleWrapper {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #0A2342;
    border-radius: 10px 0px 0 0;
}

.textFilterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.levelFilterWrapper {
    position: relative;
}

.searchInput {
    font-family: 'Open Sans', sans-serif;
    flex: 1;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.levelCheckboxes,
.fontSizeMenu {
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    width: 60px;
    z-index: 8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-left: -5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.fontSizeMenu {
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    margin-left: -25px;
}

.levelCheckboxLabel {
    margin-left: 10px;
    margin-right: 10px;
}

.textList {
    width: 100%;
    height: 91%;
    overflow-y: scroll;
    position: absolute;
    margin: auto;
    bottom: 0;
}

.loadingText {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin-left: 20px;
}

.annotationPopup {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.informMarkdown {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    margin-left: 3px;
}

.annotationModalButtons {
    position: absolute;
    bottom: 3%;
    left: 1%;
}

.submitButton {
    margin-right: 10px;
}

.hideButton {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.showButton {
    position: absolute;
    z-index: 10;
    margin-left: 15px;
    margin-top: 60px;
}

.dropdownButton {
    display: flex;
    justify-content: center;
}

.annotateButton,
.submitButton,
.previewButton,
.dropdownButton,
.fontSizeButton,
.fontButton,
.showButton,
.hideButton {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 2px 10px 2px 10px;
    border-width: 1px;
    border-color: #0A2342;
    height: 30px;
    width: fit-content;
}

.submitButton:hover,
.previewButton:hover,
.annotateButton:hover,
.dropdownButton:hover,
.fontSizeButton:hover,
.fontButton:hover,
.showButton:hover,
.hideButton:hover {
    background-color: #0A2342;
    color: white;
}

.alt {
    display: flex;
    justify-content: center;
}

.altText {
    padding: 5px;
    margin-top: 4.5px;
    border-radius: 5px;
    font-size: 0.9rem;
    z-index: 1001;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    position: absolute;
    color: #fff;
    white-space: nowrap;
}

.fontButton {
    position: relative;
    margin-left: 6px;
    margin-right: 2px;
    width: 30px
}

.annotationModalText {
    height: 495px;
    overflow-y: scroll;
    width: 100%;
}

.annotationTextarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    width: 95%;
    margin-top: 10px;
}

.markdownOverlay {
    font-size: 1.1rem;
    width: 93%;
    margin-top: -4px;
    margin-left: 3px;
}

.textItemWrapper {
    margin-top: 20px;
}

.textItem {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #fbfbfb;
    border-radius: 10px;
    user-select: none;
}

.textItem:hover {
    background-color: #e8ebf5;
    cursor: pointer;
}

.selectedTextItem {
    background-color: #e8ebf5;
}

.textItem:active {
    background-color: #c6cbd7;
}

.toolbarWrapper {
    position: absolute;
    z-index: 5;
    width: 80%;
    height: 50px;
    background-color: #fbfbfb;
    margin-top: 75px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
}

.toolbarItems {
    display: flex;
    margin-left: 15px;
    justify-content: first baseline;
    align-items: center;
    height: 100%;
}

.languageChangeWrapper {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.languageChangeBox {
    padding: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.levelSeparator {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: fit-content;
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.textContentWrapper {
    position: absolute;
    margin-top: 150px;
    height: 75%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

.textContentItem {
    display: inline;
}

.annotatedText {
    z-index: 5;
    display: inline;
    background-color: #a7ced6;
    width: fit-content;
    padding: 1px 0px 2px 0px;
    transition: background-color 0.2s;
}

.annotatedText:hover {
    background-color: #7ea5d6;
    cursor: pointer;
}

.textContent {
    display: inline;
    margin-top: -25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 1560px) {
    .mainWrapper {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1150px) {
    .textWrapper {
        border-width: 0px;
        width: 80vw;
    }

    .sideWrapper {
        position: absolute;
        z-index: 100;
        border-width: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .sideTitleWrapper {
        border-radius: 0;
    }

    .navItemWrapper {
        align-items: right;
    }
}

@media screen and (max-width: 925px) {
    .textWrapper {
        width: 90vw;
    }
}

@media screen and (max-height: 680px) {
    .mainWrapper {
        height: 90vh;
        top: 0%;
    }

    .sideWrapper {
        top: 5%;
    }
}

@media screen and (max-width: 670px) {
    .textWrapper {
        width: 100vw;
    }
}

@media screen and (max-height: 650px) {
    .textWrapper {
        height: 100vh;
        top: 13%;
    }
    .textContentWrapper {
        margin-top: 50px;
    }
    .toolbarWrapper {
        margin-top: 10px;
    }
    .showButton {
        margin-top: 84px;
    }
}

@media screen and (max-width: 480px) {
    .annotationModal {
        margin-top: 30px;
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 400px) {
    .navWrapper {
        display: none;
    }
    .sideWrapper {
        position: absolute;
        height: 100vh;
        margin-top: 50px;
    }
    .mainWrapper {
        top: 0%;
        margin-top: -50px;
        transform: translate(50%, 0%);
    }
}