@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.profileWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(23, 23, 23);
    height: 56px;
    width: 100vw;
}

.avatarWrapper {
    display: flex;
    user-select: none;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 3px;
}

.avatar {
    border-radius: 50%;
}

.avatar:hover {
    cursor: pointer;
}

.signIn {
    position: absolute;
    right: 50px;
    top: 49%;
    transform: translateY(-50%);
    color: white;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.signIn:hover {
    color: #e85548;
}