.toolbarWrapper {
    position: absolute;
    z-index: 5;
    width: 80%;
    height: 50px;
    background-color: #fbfbfb;
    margin-top: 75px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
}

.toolbarItems {
    display: flex;
    margin-left: 15px;
    justify-content: first baseline;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.languageChangeWrapper {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.languageChangeBox {
    padding: 5px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.wordReferenceMenu {
    width: 180px;
    height: 200px;
    margin-left: -75px;
}

.wordReferenceResultWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 4px; /* classic css nonsense. i need to redo this */
    width: 100%;
    height: 105%;
    font-size: 13px;
}

.wordReferenceSearchBar {
    width: 80%;
    margin-top: 5px;
}

.wordReferencePreWord {
    text-align: center;
}

.wordReferenceAnswer {
    margin-top: 10px;
    margin-left: 4px;
    width: 100%;
    height: 120%;
    overflow-y: auto;
    word-wrap: break-word;
}

.wordReferenceInputWord, .wordReferenceSectionTitle {
    font-weight: 600;
    font-size: 16px;
}

.wordReferenceSectionTitle {
    font-size: 14px;
}

.wordReferenceDefinitionWrapper {
    margin-top: 10px;
}

.wordReferenceDefinition {
    font-weight: 500;
    color: #3e618b;
}

.wordReferenceTranslations {
    display: flex;
    flex-direction: column;
}

.wordReferenceTranslatedWord {
    font-style: italic;
    color: #535353;
}