
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.profileWrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f6ff;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    margin-top: 20px;
    padding: 20px 35px 15px 20px;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar {
    border-radius: 8px;
    pointer-events: none;
    user-select: none;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 20px;
}

.userLevelWrapper {
    margin-top: -2px;
}

.nickname {
    font-weight: bold;
    font-size: 28px;
    color: #0a2342;
}

.username {
    font-style: italic;
    color: #557797;
}

.bigNameWrapper {
    display: flex;
    flex-direction: row;
}

.level {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 20px;
    font-weight: bold;
}

.levelName {
    margin-left: 5px;
}

.annotationsWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #d9e6f8;
    padding: 5px 50px 5px 10px;
    width: fit-content;
}