@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.contentWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    line-height: 42px;
}

.professionWrapper,
.projectWrapper {
    transform: translateX(-50%);
    top: 380px;
}

.professionWrapper {
    left: calc(50% - 370px);
    position: absolute;
}

.projectWrapper {
    left: calc(50% + 370px);
}

.developer,
.artist,
.portfolio {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #101f21;
    text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.7), 2px -2px 0 rgba(255, 255, 255, 0.7),
        -2px 2px 0 rgba(255, 255, 255, 0.7), 2px 2px 0 rgba(255, 255, 255, 0.7);
}

.developer {
    font-size: 47px;
}

.artist,
.portfolio {
    font-size: 40px;
}

.artist {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 10.5px;
    width: 102%;
}

.artist::after {
    content: '';
    margin-left: -10.5px;
}

.portfolio {
    letter-spacing: 29px;
}

.portfolio::after {
    content: '';
    margin-left: -29px;
}

.expandArrow {
    position: relative;
    color: #101f21;
    width: fit-content;
    user-select: none;
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow:
        -1px -1px 0 #f2f2f2,
        1px -1px 0 #f2f2f2,
        -1px 1px 0 #f2f2f2,
        1px 1px 0 #f2f2f2;
}

.expandArrow:hover {
    color: #f2f2f2;
    text-shadow:
        -1px -1px 0 #101f21,
        1px -1px 0 #101f21,
        -1px 1px 0 #101f21,
        1px 1px 0 #101f21;
    cursor: pointer;
}

.developerMenu,
.portfolioMenu {
    content: '';
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 600px;
    background: linear-gradient(to bottom, rgba(242, 242, 242, 0.3), rgb(242, 242, 242));
    border: 1px solid rgba(16, 31, 33, 0.1);
    border-radius: 10px;
}

.developerText,
.portfolioText {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #101f21;
    word-wrap: break-word;
    white-space: normal;
    margin: 0 auto;
    width: 94.5%;
    font-size: 18px;
    margin-top: 10px;
    line-height: 26px;
}

.boldText {
    font-weight: 600;
}

.developerLink,
.accessibilityLink,
.scarlett {
    transition: color 0.3s ease-in-out;
}

.developerLink {
    color: #DA70D6;
}

.developerLink:hover {
    color: #700d28;
}

.accessibilityLink {
    color: #50b0c8;
}

.accessibilityLink:hover {
    color: #08456d;
}

.scarlett {
    color: #ec3850;
    font-weight: 500;
}

.scarlett:hover {
    color: #ff91b6;
}

@media (max-width: 1420px) {

    .developerMenu,
    .portfolioMenu {
        width: 590px;
        height: 600px;
    }

    .professionWrapper {
        left: calc(50% - 310px);
    }

    .projectWrapper {
        left: calc(50% + 310px);
    }
}

@media (max-width: 1220px) {

    .professionWrapper,
    .projectWrapper {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 35px;
    }

    .artist,
    .portfolio {
        margin-bottom: 10px;
    }
}

@media (max-width: 750px) {
    .developer {
        font-size: 40px;
        line-height: 36px;
    }

    .artist,
    .portfolio {
        font-size: 38px;
    }

    .portfolio {
        letter-spacing: 25px;
    }

    .professionWrapper,
    .projectWrapper {
        transform: translateX(-50%);
        top: 360px;
    }
}

@media (max-width: 590px) {

    .developerMenu,
    .portfolioMenu {
        width: 500px;
        height: 620px;
    }

    .developer {
        font-size: 36px;
        line-height: 32px;
    }

    .artist,
    .portfolio {
        font-size: 34px;
    }

    .portfolio {
        letter-spacing: 20px;
    }
}

@media (max-width: 540px) {
    .artist {
        letter-spacing: 6px;
    }

    .modalWrapper {
        margin-top: -40px;
    }
}

@media (max-width: 500px) {

    .developerMenu,
    .portfolioMenu {
        width: 100vw;
        height: fit-content;
        padding-bottom: 30px;
    }

    .developer {
        font-size: 32px;
        line-height: 28px;
    }

    .artist,
    .portfolio {
        font-size: 30px;
    }

    .portfolio {
        letter-spacing: 18px;
        margin-right: 6px;
    }
}

@media (max-width: 400px) {
    .developer {
        font-size: 28px;
    }

    .artist,
    .portfolio {
        font-size: 26px;
    }
}

@media (max-width: 360px) {
    .developer {
        font-size: 7.5vw;
    }

    .artist,
    .portfolio {
        font-size: 6vw;
    }

    .modalWrapper {
        margin-top: -90px;
    }

    .developer {
        line-height: 18px;
    }

    .developerText {
        font-size: 16px;
    }
}

@media (max-width: 305px) {
    .developer {
        line-height: 8px;
    }

    .developerText {
        font-size: 14px;
        line-height: 22px;
    }

    .modalWrapper {
        margin-top: -120px;
    }
}

@media (max-width: 260px) {
    .artist {
        letter-spacing: 4px;
        margin-left: -5px;
    }

    .portfolio {
        letter-spacing: 13px;
        margin-left: -10px;
        line-height: -10px;
    }

    .developer {
        line-height: 2px;
    }
}

@media (max-width: 240px) {

    .developer,
    .artist,
    .portfolio {
        display: none;
    }

    .professionWrapper {
        margin-bottom: 0px;
    }

    .developerMenu {
        border-radius: 10px 10px 0px 0px;
    }

    .portfolioMenu {
        border-radius: 0px 0px 10px 10px;
    }

    .developerMenu,
    .portfolioMenu {
        border: 0px;
    }
}