.pageWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.pageInfoWrapper {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: url('../../public/assets/portfolio/images/textured_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.titleWrapper {
    user-select: none;
    position: absolute;
    width: 1920px;
    height: 1012px;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.styledWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.darkness {
    width: 1920px;
    z-index: 1;
    position: fixed;
    mix-blend-mode: luminosity;
}

.backgroundImages {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

.titleImages {
    width: 100%;
}