.volumeWrapper {
    position: fixed;
    pointer-events: all;
    bottom: 2%;
    left: 1%;
}

.volumeButton {
    pointer-events: all;
    width: 50px;
    height: 50px;
    background-color: rgb(25, 25, 25);
    color: white;
    opacity: 0.5;
    font-size: 16px;
    border-color: rgb(25, 25, 25);
    border-radius: 50px;
    margin-bottom: 0px;
    transition: opacity 0.2s ease-in-out;
}

.volumeButton:hover {
    opacity: 0.7;
}

.volumeSliderSide,
.volumeSliderSideActive,
.volumeSliderTop,
.volumeSliderTopActive {
    accent-color: grey;
    position: absolute;
}

/* Adjust transitions for opacity */
.volumeSliderSide,
.volumeSliderTop {
    opacity: 0;
}

.volumeSliderSideActive,
.volumeSliderTopActive {
    opacity: 1;
}

.volumeSliderSide,
.volumeSliderSideActive {
    height: 30px;
    width: 0px;
    top: 9px;
    left: 46px;
    border-radius: 0px 50px 50px 0px;
    transition: all 0.5s ease;
}

.volumeSliderTopActive,
.volumeSliderTop {
    transform: rotate(-90deg);
}

.volumeSliderTop,
.volumeSliderTopActive {
    height: 30px;
    width: 0px;
    bottom: 32px;
    left: 23.5px;
    border-radius: 50px 50px 0px 0px;
    transition: all 0.5s ease;
}

@media screen and (min-width: 900px) {
    .volumeSliderTopActive {
        width: 200px;
        margin-left: -98.5px;
        margin-bottom: 100px;
    }

    .volumeSliderSideActive {
        width: 200px;
    }
}

@media screen and (min-width: 0px) {
    .volumeSliderTopActive {
        width: 125px;
        margin-left: -60.5px;
        margin-bottom: 65px;
    }

    .volumeSliderSideActive {
        width: 125px;
    }
}