@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.pageWrapper {
    width: 100%;
    height: 100%;
}

/* main panel stuff */

.adminPanelWrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 600px;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* search wrapper, menu etc */

.adminSearchWrapper {
    position: relative;
    background-color: #292930;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid #1f1f24;
}

.adminMenu {
    background-color: #121214;
    width: 85%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.adminMenu:hover {
    background-color: #1e1e24;
    color: rgb(255, 216, 216);
}

.adminMenuWrapper {
    margin-top: 20px;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.adminMenuText {
    user-select: none;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

/* toolbar stuff */

.adminFlexWrapper {
    width: 100%;
}

.adminToolbarWrapper {
    position: relative;
    content: '';
    background-color: #292930;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(240, 235, 235);
}